{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if pages %}
		Hot News
	{% else %}
		Unknown
	{% endif %}
{% endblock %}

{% block body_block %}
    		<h2>Top 3 Hot News</h2>
    <br>

		{% if pages%}
		<ul>
			{% for p in pages %}
					<!-- The following line is changed to add an HTML hyperlink -->
                    <strong>Title: {{ p.title }}</strong>
                    <p>Views: {{ p.views }}</p>
                    <p>Content: {{ p.content }}</p>
                    <p>Image: </p>
                     <img src="{{ p.url }}" alt="Picture of post" width="150" height="150"/>

                <br>
                <br>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no pages present.</strong>
		{% endif %}


{% endblock %}







